:root {
  --primary-text-color: #1e2e36;
  --primary-background: #fff;
  --color-black: #000;
  --color-red: #ff1b1b;
  --color-grei: #bcbdbb;
  --colir-p-title: ;
  --color-fon-button: ;
  --background-fon: ;
  --button-beckground: #44c697;
}

body {
  /* position: relative; */
  width: 1920px;
  /* height: 5219px; */
  margin: 0 auto;
  color: var(--primary-text-color);
  background-color: var(--primary-background);
  font-family: "Proxima Nova Ag", sans-serif;
  font-weight: 700;
  padding: 0;
  /* background: #ff1b1b; */
}

h5,
h4,
h3,
h2 {
  font-family: "Proxima Nova Ag", sans-serif;
  font-weight: 700;
  margin: 0;
}

ul {
  list-style: none;
  /* text-decoration: none; */
}

.site-nav {
  width: 1920px;
  height: 165px;
  margin-left: 0px;
  margin-top: 0px;
}

.site-nav-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 591px;
  height: 40px;
  margin: 10px 0 0 51px;
}

.link-maito {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 22.5px;
  width: 390px;
  height: 40px;
}

.maito-but {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  background-color: var(--primary-background);
  border: none;
}
.maito-but:hover {
  opacity: 0.5;
}
.maito-but-f {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  background-color: var(--primary-background);
  border: none;
}
.maito-but-f:hover {
  opacity: 0.5;
}
.site-nav-title-1 {
  margin-left: 50px;
  display: flex;
  /* display: inline-block; */
  /* justify-content: space-between; */
}
.site-nav-title-1 img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}
.select-tel {
  border: none;
  font-weight: 700;
  font-size: 18px;
  display: block;
  width: 200px;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
}

.select-tel-div {
  position: absolute;
  display: none;
}
.select-tel-div a {
  display: block;
  background: var(--button-beckground);
  color: var(--primary-background);
  width: 130px;
  padding-left: 10px;
}
.site-nav-title-1:hover .select-tel-div {
  display: block;
  z-index: 2;
  margin: 50px 0 0 30px;
  line-height: 30px;
}
.site-nav-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  width: 572px;
  height: 23px;
  margin: -30px 0 0 1297px;
}
.site-nav-name:hover {
  color: var(--button-beckground);
}

.site-nav-name a {
  text-decoration: none;
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-size: 17px;
  line-height: 22.5px;
}
.site-nav-name a:hover {
  color: var(--button-beckground);
}
.site-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  position: absolute;
  z-index: 1;
  width: 614px;
  height: 23px;
  margin: 21px 0 0 51px;
}

.link-list-li {
  display: inline-block;
}
.link-list {
  position: relative;
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-size: 18px;
  /* margin: 0; */
  cursor: pointer;
}
.link-list-se {
  position: absolute;
  display: none;
  border: none;
  text-align: center;
}
.link-list-se a {
  display: block;
  color: var(--button-beckground);
  background: var(--primary-background);
}
.link-list-li:hover .link-list-se {
  display: block;
  border: none;
  line-height: 25px;
  width: 75px;
}

.hr {
  width: 1920px;
  margin: 10px auto;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 360px;
  height: 75px;
  margin: 15px 0 0 785px;
  font-size: 36px;
  line-height: 45px;
  text-decoration: none;
  color: var(--primary-text-color);
}
.logo-f {
  color: var(--button-beckground);
  font-size: 36px;
  line-height: 45px;
  margin-left: 15px;
}
.logo:hover {
  color: var(--button-beckground);
  opacity: 0.5;
}

.site-nav-basket {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 410px;
  height: 51px;

  margin: 27px 0 0 1459px;
}

.basket-logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.basket-but {
  font-family: "Proxima Nova Ag", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 132px;
  height: 51px;
  font-size: 18px;
  line-height: 22.5px;
  text-transform: uppercase;
  background-color: var(--primary-background);
  border: var(--primary-background);
}
.basket-but:hover,
.basket-button:hover {
  opacity: 0.5;
}

.basket-button {
  font-family: "Proxima Nova Ag", sans-serif;
  font-weight: 700;
  width: 278px;
  height: 51px;
  font-size: 18px;
  line-height: 22.5px;
  text-transform: uppercase;
  background: var(--button-beckground);
  border: var(--button-beckground);
  border-radius: 3px;
  color: var(--primary-background);
}

.slider {
  width: 1920px;
  height: 785px;
  margin: 0;
}
.slide-line {
  width: 15px;
  height: 670px;
  background-color: var(--button-beckground);
}

.slider-h1 {
  position: absolute;
  width: 462px;
  height: 670px;
  /* top: 165px;
  left: 51px; */
  background-color: var(--primary-background);
  display: flex;
  margin: -789px 0 0 51px;
}
h1 {
  font-size: 64px;
  margin: 99px 0 0 78px;
}
h3 {
  font-size: 36px;
  margin: 50px 0 0 101px;
}
.slider-p {
  font-weight: 400;
  font-size: 36px;
  margin: 10px 0 0 75px;
}
.slider-but {
  position: absolute;
  width: 209px;
  height: 51px;
  margin: 30px 0 0 112px;
  font-weight: 700;
  font-size: 18px;
  background-color: var(--button-beckground);
  color: var(--primary-background);
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
}
.slider-but:hover {
  opacity: 0.5;
}

.slider-text {
  font-family: "Proxima Nova Ag", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 131px 0 0 175px;
}
.slider-text-left {
  font-size: 36px;
}

.button-slider-left {
  border: none;
  background-color: var(--primary-background);
  width: 30px;
  height: 30px;
  margin: 5px 8px 0 178px;
}
.button-slider-left:hover {
  opacity: 0.5;
}

.button-slider {
  border: none;
  background-color: var(--primary-background);
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
.button-slider:hover {
  opacity: 0.5;
}
.benefits {
  width: 1818px;
  height: 462px;
  margin-left: 51px;
  margin-top: 100px;
}
.benefits-ul img {
  border-radius: 3px;
  width: 586px;
  height: 350px;
  /* position: absolute;
  z-index: -1; */
}
.slick-track {
  height: 350px;
  /* position: absolute; */
  /* z-index: -1; */
}
button.slick-prev.slick-arrow::before {
  font-size: 30px;
  width: 30px;
  margin: 0 0 0 50px;
  position: absolute;
}
button.slick-next.slick-arrow::before {
  font-size: 30px;
  width: 30px;
  position: absolute;
  margin: 0 0 0 -80px;
}
.benefits-h2 {
  font-weight: 700;
  height: 45;
  font-size: 48px;
  line-height: 60px;
  margin: 0 0 0 791px;
}
.benefits-rectangle {
  background-color: var(--button-beckground);
  width: 20px;
  height: 50px;
  margin: -55px 0 0 788px;
}

.benefits-ul {
  margin: 52px 0 0 0;
  padding: 0;
  height: 350px;
}

.benefits-h3 {
  margin: -70px 0 0 0;
  padding: 0px 0 0 30px;
  color: var(--primary-background);
  font-size: 36px;
  line-height: 45px;
  text-decoration: underline;
  text-decoration-color: var(--button-beckground);
}
.benefits-poz {
  /* position: absolute; */
  margin: -129px 0 0 30px;
  color: var(--primary-background);
  font-size: 36px;
  line-height: 45px;
  text-decoration: underline;
  text-decoration-color: var(--button-beckground);
}

.benefits-p {
  color: var(--primary-background);
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  margin: 10px 0 0 30px;
  font-weight: 100;
}

.categories {
  width: 1818px;
  height: 1208px;
  margin: 100px 0 0 51px;
}
.categories-h2 {
  font-weight: 700;
  height: 45;
  font-size: 48px;
  line-height: 60px;
  margin: 0 0 0 766px;
}
.categories-rectangle {
  background-color: var(--button-beckground);
  width: 20px;
  height: 50px;
  margin: -55px 0 0 762px;
}
.row {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 50px 0 0 0;
}
.col-xxl-1 {
  width: 100px;
  height: 140px;
  padding: 0;
}
.categories-img {
  width: 100px;
  height: 100px;
}

.text-centr {
  text-align: center;
  width: 100px;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 700;
}
.categories-list {
  padding: 0;
  margin: 84px 0 0 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categories-1 {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 65px 15px;
  font-size: 24px;
  line-height: 30px;
}
.categories-list li:hover{
  background: var(--button-beckground);
}

.categories-2 {
  width: 143px;
  height: 33px;
  background-color: var(--color-black);
  color: var(--primary-background);
  text-transform: uppercase;
  margin: 10px 0 0 0;
  position: relative;
  z-index: 1;
  text-align: center;
}
.categories-3 {
  margin-top: -43px;
}
.categories-h5 {
  padding-top: 6px;
  font-size: 18px;
  line-height: 22.5px;
}
.categories-4 {
  margin-left: 160px;
  color: var(--color-red);
}
.categories-5 {
  color: var(--color-grei);
  text-decoration: line-through;
  font-size: 18px;
  margin: 0px 0 0 0;
}
.categories-6 {
  width: 84px;
  height: 33px;
  background-color: var(--color-red);
  color: var(--primary-background);
  font-size: 18px;
  line-height: 22.5px;
  text-align: center;
  padding-top: 6px;
  margin-top: -365px;
  position: relative;
  z-index: 1;
}
.categories-7 {
  text-transform: uppercase;
}
.categories-button {
  width: 190px;
  height: 51px;
  border-radius: 3px;
  border-color: var(--button-beckground);
  background: var(--button-beckground);
  color: var(--primary-background);
  text-transform: uppercase;
  text-align: center;
  font-family: "Proxima Nova Ag", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.5px;
  margin: 10px 0 0 825px;
}
.categories-button:hover {
  opacity: 0.5;
}

.about {
  position: absolute;
  width: 1920px;
  height: 785px;
  margin-top: 100px;
}
.about-h2 {
  width: 200px;
  height: 60px;
  text-align: center;
  margin-left: 860px;
  font-size: 48px;
  line-height: 60px;
}
.about-rectangle {
  background-color: var(--button-beckground);
  width: 20px;
  height: 50px;
  margin: -55px 0 0 4px;
}
.about-span {
  color: var(--button-beckground);
  text-transform: uppercase;
  font-family: "Proxima Nova Ag", sans-serif;
  font-weight: 700;
}
.about-p {
  position: relative;
  width: 791px;
  height: 475px;
  background-color: var(--primary-background);
  z-index: 1;
  font-size: 18px;
  line-height: 22.5px;
  margin-top: 150px;
}
.about-text {
  padding: 30px 50px 30px 50px;
}
.about-conteiner {
  width: 15px;
  height: 475px;
  background-color: var(--button-beckground);
  margin: -492px 0 0 791px;
  border-radius: 0 3px 3px 0;
}
.about img {
  width: 1407px;
  height: 675px;
  margin: -580px 0 0 513px;
}

.question {
  /* position: absolute; */
  width: 1920px;
  height: 785px;
  margin-top: 985px;
}
.question-h2 {
  width: 550px;
  height: 60px;
  text-align: center;
  margin-left: 860px;
  font-size: 48px;
  line-height: 60px;
}
.question-rectangle {
  background-color: var(--button-beckground);
  width: 20px;
  height: 50px;
  margin: -55px 0 0 1px;
}

.question-foto {
  width: 1561px;
  height: 675px;
  margin-top: -550px;
}
.question-p {
  position: relative;
  width: 528px;
  height: 457px;
  margin: 125px 0 0 1392px;
  background-color: var(--primary-background);
  z-index: 1;
  /* padding: 50px 51px 50px 30px; */
  font-size: 18px;
  line-height: 22.5px;
  /* border-radius: 3px; */
}
.question-h3 {
  position: absolute;
  font-size: 36px;
  line-height: 45px;
  margin: 40px 0 0 30px;
}
.question-button-1 {
  width: 432px;
  height: 51px;
  margin: 125px 0 0 30px;
  border-radius: 3px;
  background-color: var(--primary-background);
  text-align: left;
  color: var(--color-grei);
  border-color: var(--primary-text-color);
}
.question-button-2 {
  width: 432px;
  height: 51px;
  margin: 15px 0 0 30px;
  border-radius: 3px;
  background-color: var(--primary-background);
  text-align: left;
  color: var(--color-grei);
  border-color: var(--primary-text-color);
}
.question-button-3 {
  width: 432px;
  height: 51px;
  margin: 15px 0 0 30px;
  border-radius: 3px;
  background-color: var(--button-beckground);
  border: var(--button-beckground);
  color: var(--primary-background);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.5px;
}
.question-button-3:hover {
  opacity: 0.5;
}
.question-h5 {
  margin: 30px 0 0 30px;
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 400;
}
.question-span {
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 700;
}
.question-conteiner {
  width: 15px;
  height: 457px;
  background-color: var(--button-beckground);
  margin: -405.5px 0 0 -15px;
  border-radius: 3px 0 0 3px;
}

.end-button {
  position: relative;
  z-index: 1;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  margin: 100px 0 0 36px;
  background-color: none;
  border-radius: 35px;
  color: var(--button-beckground);
}

.gender {
  position: absolute;
  width: 1920px;
  height: 520px;
  margin: -40px 0 0 0;
}

.gender-text {
  position: absolute;
  width: 831px;
  height: 520px;
  left: 0px;
  background: var(--primary-text-color);
}
.logo-gender {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 360px;
  height: 75px;
  left: 51px;
  top: 75px;
  font-size: 36px;
  line-height: 45px;
  text-decoration: none;
  color: var(--primary-background);
}
.logo-gender:hover {
  opacity: 0.5;
}
.gender-1 {
  width: 99px;
  height: 213px;
  color: var(--primary-background);
  margin: 175px 0 0 51px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.5px;
  padding: 0;
}

.gender-2 {
  margin-top: 15px;
}
.gender-3 {
  width: 221px;
  height: 137px;
  color: var(--primary-background);
  margin: -230px 0 0 205px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.5px;
  padding: 0;
}
.gender-4 {
  margin-top: 15px;
}

.gender-foto {
  width: 1089px;
  height: 520px;
  border-radius: 0px;
  margin-left: 831px;
}

.gender-7 {
  color: var(--button-beckground);
  padding: 0px 0 0 0px;
  margin: 15px 0 0 50px;
  display: flex;
  align-items: center;
}
.gender-15 a:hover,
.gender-15 img:hover,
.gender-2:hover,
.gender-4:hover,
.row img:hover {
  opacity: 0.5;
}
.gender-8 {
  color: var(--button-beckground);
  font-size: 18px;
  line-height: 22.5px;
  padding-left: 5px;
}
.gender-9 {
  color: var(--button-beckground);
  font-size: 18px;
  line-height: 22.5px;
  margin: 15px 0 0 75px;
}
.gender-10 {
  margin: 30px 0 0 50px;
  color: var(--primary-background);
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 400;
}
.gender-11 {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 0;
}
.gender-11 img:hover {
  opacity: 0.5;
}
.gender-12 {
  color: var(--primary-background);
  margin: 70px 0 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
}
.gender-13 {
  margin: 0px 0 0 50px;
}

.gender-14 {
  margin: 15px 0 0 50px;
}
.gender-15 {
  margin: -100px 0 0 500px;
  padding: 0;
}

.foto {
  width: 586px;
  height: 350px;
}
